<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- The bundled Firebase project is a placeholder; crashes have nowhere to go. -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <service
            android:name="com.eltavine.sereingram.features.ghost.GhostTileService"
            android:exported="true"
            android:icon="@drawable/icon_ghost"
            android:label="@string/serein_ghost_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <service
            android:name="com.eltavine.sereingram.features.proxy.ProxyTileService"
            android:exported="true"
            android:icon="@drawable/outline_shield_plain_24"
            android:label="@string/Proxy"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <activity
            android:name="com.eltavine.sereingram.features.ghost.GhostToggleActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoDisplay" />
    </application>

</manifest>
